.container {
    font-size: 40px;
    width: 100%;
    background-color: LightGray;
    display: grid;
  }
  .d1 {
    background-color: aqua;
  }
  .d2 {
    background-color: orangered;
  }
  .d3 {
    background-color: aquamarine;
  }
  .d4 {
    background-color: lightpink;
  }
  .d5 {
    background-color: lightgreen;
  }
  