.container {
    font-size: 40px; 
    width: 100%; 
    background-color: LightGray; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    column-gap: 20px;
  }
  .d1 {
    background-color: aqua;
  }
  .d2 {
    background-color: orangered;
  }
  .d3 {
    background-color: aquamarine;
  }
  .d4 {
    background-color: pink;
  }
  .d5 {
    background-color: lightgreen;
  }
  